body{
	font-family: Arial, Helvetica, sans-serif
}
div{
	border-style: solid;
	border-width: 1px;
}

span{
	border-color: red;
	border-style: solid;
	border-width: 1px;
}

div .station-select
{
	background-color:antiquewhite
}

div .station-selected
{
	background-color:aqua
}

div .station-selected-name
{
	background-color:azure
}

div .station-selected-platform
{
	background-color:bisque
}

div .station-header
{
	background-color:cadetblue
}

div .station-selected-header
{
	background-color:dimgray
}

div .station-name-platform-sort
{
	background-color:darkseagreen
}