.App {
	/* text-align: left; */
	background-color:snow;
	font-family: Arial, Helvetica, sans-serif;
}
div
{
	border-style: solid;
	border-width: 1px;
	border-color:gray;
	max-width: 700px;
	margin: 1px;
	padding: 1px;
}

ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
}

ul li{
	max-width: 90%;
}

.stationitem{
	
}
.stationitem__destination{
	
}
.stationitem__times{
	float: right;
}

.detailsleg
{
	max-width: 250px;
}

.detailsleg__time{

}
.detailsleg__name{
	float: right;
}
.detailsleg__line{
	font-size: 80%
}
.tripplannerresult{

}
.tripplannerresult__item{
	max-width: 250px;
}
.tripplannerresult__starttime{

}
.tripplannerresult__endtime{

}
.tripplannerresult__timelength{

}
.tripplannerresult__fare{
	float: right;
}
