.App {
	/* text-align: left; */
	/* background-color:gray; */
	font-family: Arial, Helvetica, sans-serif;
}
div
{
	/* border-style: solid;
	border-width: 1px;
	border-color:gray; */
	max-width: 700px;
	/* margin: 1px;
	padding: 1px; */
}

ul {
	list-style-type: none;
	
  /* margin: 0;
  padding: 0; */
}

ul li{
	max-width: 90%;
}

/**
the station items located in real time departures.
**/
.stationitem{
	background-color: whitesmoke;
	margin: 3px;
	padding: 2px;
}
.stationitem__color{
	/* background-color: red;
	width: 5%;
	height: 5px; */
}
.stationitem__destination{
	font-size: 120%;
}
.stationitem__times{
	float: right;
	font-size: 90%;
}


.detailsleg
{
	max-width: 400px;
	background-color: whitesmoke;
	margin: 3px;
	padding: 2px;
}

.detailsleg__time{
	font-size: 120%;
}
.detailsleg__name{
	float: right;
	font-size: 120%;
}
.detailsleg__line{
	font-size: 80%;
	margin: 4px;
}
.realtimedepartures
{
	background-color:lavender; 
	/* border-style: solid;
	border-width: 1px;
	border-color: blue; */
	padding: 5px;
	/* margin: 10px; */
}
/* 
	the Real Time Departures header and train count 
*/
.realtimedepartures__information{
	/* border-style: solid;
	border-width: 1px;
	border-color:blueviolet; */
}
.realtimedepartures__stationselection{
	/* border-style: solid;
	border-width: 1px;
	border-color: blue; */
	margin-top: 10px;
	margin-bottom: 10px;
}

.realtimedepartures__sort{
	/* border-style: solid;
	border-width: 1px;
	border-color: palegoldenrod; */
	padding: 5px;
}
.realtimedepartures__sort__header{
	/* border-style: solid;
	border-width: 1px;
	border-color: teal; */
}
.realtimedepartures__sort__headerName{
	/* border-style: solid;
	border-width: 1px;
	border-color: pink; */
	font-size: 140%;
}
.realtimedepartures__sort__headerTime{
	/* border-style: solid;
	border-width: 1px;
	border-color: brown; */
	font-size: 80%;
	float: right;
}
.realtimedepartures__sort__control{
	/* border-style: solid;
	border-width: 1px;
	border-color: black; */
	/* float: right; */
}



.stationselection__starting
{
	border-color: red;
}
.stationselection__destination{
	border-color: red;
}

.platform{
	border-color: blue;
}
.platform__item{
	border-color: blue;
}

.name{
	border-color: blue;
}




.tripplannerresult{
	border-color: blue;
}
.tripplannerresult__item{
	max-width: 400px;
	background-color: whitesmoke;
	margin: 3px;
	padding: 2px;
}
.tripplannerresult__starttime{
	font-size: 120%
}
.tripplannerresult__endtime{
	font-size: 120%
}
.tripplannerresult__timelength{
	border-color: blue;
}
.tripplannerresult__fare{
	float: right;
}
.tripplannerdetails{

}
.tripplannerdetails__info{

}

.tripplannerdetails__departure{

}
.tripplannerdetails__arrival{

}
.tripplannerdetails__time{

}
.tripplannerdetails__changes{

}
.tripplannerdetails__fare{

}
.tripplannerdetails__detailsleg{

}


.tripplanner{
	/* border-style: solid;
	border-width: 1px;
	border-color: red; */
	background-color:lavender; 
	padding: 5px;
}
.tripplanner__header{
	border-color: blue;
}
