.App {
	/* text-align: left; */
	background-color:darkgray;
	font-family: Arial, Helvetica, sans-serif;
}
div
{
	border-style: solid;
	border-width: 1px;
}

.App-link {
  color: #61dafb;
}

.rtd-station-table
{
	/* width: 600px; */
}

.rtd-real-time
{
	width: 600px;
	background-color:cornsilk;
}

.rtd-sort-header
{
	background-color:peru;
	color:white;
	font-weight: bold;
}
.rtd-sort-selector {
	
}
.rtd-station-item
{

}
.rtd-float-right
{
	float: right;
}